.carouser-wrapper{
    padding: 0 0 20px 0;
}
.disable{
    opacity: 0.6;
    pointer-events: none;
}
.sortable.grid li {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 0;
}
#slide-image{
    display: none;
}